/* Newsfeed STYLES */

.sideNav {
    /* background-color: white; */
    /* opacity: 45%; */
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0 !important;
    padding: 0 !important;

    
}

a:link {
    color: black;
}
a:hover {
    color:gray
}
a:visited {
    color:black
}

.fas {
    color: #1E607A;
    padding-left: 60px;
    padding-top: 75px;
}

.vl2 {
    margin: 0;
    position: absolute;
    top: 24%;
    /* -ms-transform: translateY(-50%); */
    transform: translateY(-50%);
    /* border-right: 1px solid lightgray; */
    /* height: 575px; */

};

