/* GLOBAL STYLES */
body {
    letter-spacing: 2px;
    font-weight: lighter !important;
}

h2 {
    font-size: x-large !important;
}

h3 {
    font-size: larger !important;
}

/* LANDING STYLES */

.LandingNav {
    background-color: #2B89AD;
    padding: 2%;
}

.LandingNav, a {
    color: aliceblue;
    padding-left: 2%;
}

#HeaderHero {
    max-width: 100%;
}