#footer {
    margin-top: 5%;
    padding-top: 5%;
    color: aliceblue;
    background-color: #4596B6;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #footer a {
    color: aliceblue;
    font-weight: normal;
    text-align: right;
  }