/* GLOBAL STYLES */
body {
    letter-spacing: 2px;
    
}

h2 {
    font-size: x-large !important;
}

h3 {
    font-size: larger !important;
}

/* Lister STYLES */

.ListerNav {
    background-color: #2B89AD;
    padding: 2%;
}

.ListerNav, a {
    color: aliceblue;
    padding-left: 2%;
}

.uploadStyle{
    line-height: 200px;
}

Form{
    padding: 2%;
}

.picker{
    width: 100%;
}

.description{
    rows: 5;
}