
.container-fluid{
    border: 0;
    padding: 0;
    margin: 0;

}

.col-1{
    border: 0;
    padding: 0;
    margin: 0;
}
.col-2{
    border: 0;
    padding: 0;
    margin: 0;
}

.col-10{
    border: 0;
    padding: 0;
    margin: 0;
}

.col-11{
    border: 0;
    padding: 0;
    margin: 0;
}

.newsfeed{
    padding: 0;
    border: 0;
    margin: 0;
    /* display: grid; */
    /* place-items: left;  */
    color: white;
}
