/* GLOBAL STYLES */
body {
    letter-spacing: 2px;
    font-weight: lighter !important;
}

h2 {
    font-size: x-large !important;
}

h3 {
    font-size: larger !important;
}

/* SIGNUP STYLES */

#Hero {
    margin-top: 2%;
}

@media (max-width: 767px) {
    #Hero {
        margin-top: 15%;
    }
}

#SignUpHero {
    max-width: 100%;
}