/* GLOBAL STYLES */
body {
    letter-spacing: 2px;
    font-weight: lighter !important;
}

h2 {
    font-size: x-large !important;
}

h3 {
    font-size: larger !important;
}

/* Looker STYLES */

.mainContainer {
    margin: 100px 80px 200px 80px;
    border: 1px solid black;
    height: 460px;
}