html {
  scroll-snap-type: y mandatory;
}
.main {
  padding: 0;
  border: 0;
  margin: 0;
}


.main {
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  color: white;
}

.main_videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.main_videos::-webkit-scrollbar {
  display: none;
}
.main_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}