html {
  scroll-snap-type: y mandatory;
}
.main {
  padding: 0;
  border: 0;
  margin: 0;

}


.main {
  height: 50vh;
  display: grid;
  place-items: center;
}

.main_videos {
  position: relative;
  height: 600px;
  width: 80%;
  /* height: 60%; */
  border-radius: 20px;
  max-width: 350px;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.main_videos::-webkit-scrollbar {
  display: none;
}
.main_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

