html {
  scroll-snap-type: y mandatory;
}

.main {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  color: white;
}

.main_videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.main_videos::-webkit-scrollbar {
  display: none;
}
.main_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}