/* GLOBAL STYLES */
body {
    letter-spacing: 2px;
    font-weight: lighter !important;
}

h2 {
    font-size: x-large !important;
}

h3 {
    font-size: larger !important;
}

/* Newsfeed STYLES */

.container-fluid{
    border: 0;
    padding: 0;
    margin: 0;

}

.col-1{
    border: 0;
    padding: 0;
    margin: 0;
}
.col-2{
    border: 0;
    padding: 0;
    margin: 0;
}

.col-10{
    border: 0;
    padding: 0;
    margin: 0;
}

.col-11{
    border: 0;
    padding: 0;
    margin: 0;
}

.newsfeed{
    padding: 0;
    border: 0;
    margin: 0;
    /* display: grid; */
    /* place-items: left;  */
    color: white;
}