.videoFooter {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
  font-weight: bold !important;
}

.videoFooter_text {
  flex: 1;
}

.videoFooter_text > p {
  padding-bottom: 20px;
}

.videoFooter_text > h3 {
  padding-bottom: 20px;
}

.videoFooter_icon {
  position: absolute;
}

.videoFooter_ticker > .ticker {
  height: fit-content;
  margin-left: 20px;
  width: 70%;
  white-space: nowrap;

}

.videoFooter_ticker h1 {
  padding-top: 7px;
}

.expandIcon {
  /* animation: spinTheRecord infinite 5s linear; */
  height: 50px;
  /* filter: invert(1); */
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* @keyframes spinTheRecord {
  from {
    transform: rotate(360deg);
  }
} */
