.videoFooter {
  position: relative;
  color: black;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}

.videoFooter_text {
  flex: 1;
}

.videoFooter_text > p {
  padding-bottom: 20px;
}

.videoFooter_text > h3 {
  padding-bottom: 20px;
}

.videoFooter_icon {
  position: absolute;
}

.videoFooter_ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 70%;

}

.videoFooter_ticker h1 {
  padding-top: 7px;
}

.videoFooter_record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(360deg);
  }
}
